.DS_Store
.wrangler/
node_modules/
.firebase/
firebase-debug.log
tools/node_modules/
tools/package-lock.json
ios/*.xcodeproj/
ios/*.xcworkspace/
ios/DerivedData/
ios/**/xcuserdata/
ios/**/GoogleService-Info.plist
